<!--
  Generated template for the FeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Feed</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <!-- Loop com JSON resposta de outro lugar -->
  <ion-card padding-top *ngFor="let filme of listaFilmes">

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/marty-avatar.png">
      </ion-avatar>
      <h2 class="h2FeedTitle">{{ filme.original_title }}</h2>
      <p ng-if="filme.title == ''" ><span class="h2FeedSecundaryTitle">{{ filme.title }}</span></p>
      <p class="feedDate">{{filme.release_date | date: 'dd/MM/yyyy'}}</p>
    </ion-item>

    <img [src]="'https://image.tmdb.org/t/p/w500' + filme.poster_path">
    <!-- <img src="https://image.tmdb.org/t/p/w500{{ filme.poster_path }}"> -->

    <ion-card-content text-center>
      <p>{{ filme.overview }}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{ filme.vote_count }}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{ filme.vote_average }}</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          {{ filme.backdrop_path }}
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>

  <!-- Codificação de exemplificação de codigos -->

  <ion-card padding-top>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/marty-avatar.png">
      </ion-avatar>
      <h2 class="h2FeedTitle">{{ objet_feed_unico.titulo }}</h2>
      <p class="feedDate">{{ objet_feed_unico.data }}</p>
    </ion-item>

    <img src="assets/imgs/advance-card-bttf.png">

    <ion-card-content text-center>
      <p>{{ objet_feed_unico.descricao }}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{ objet_feed_unico.qntdLikes }}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{ objet_feed_unico.qntdComents }}</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          {{ objet_feed_unico.timeComent }}
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-card *ngFor="let objeto of objet_feed.objeto" margin>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/marty-avatar.png">
      </ion-avatar>
      <h2 class="h2FeedTitle">{{ objeto.titulo }}</h2>
      <p class="feedDate">{{ objeto.data }}</p>
    </ion-item>

    <img src="assets/imgs/advance-card-bttf.png">

    <ion-card-content text-uppercase>
      <p>{{ objeto.descricao }}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{ objeto.qntdLikes }}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{ objeto.qntdComents }}</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          {{ objeto.timeComent }}
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>