page-feed {

    h2.h2FeedTitle {
        color:      red;
        font-weight:  bold;
    }

    h2.h2FeedSecundaryTitle {
        font-size: small;
        color: blue;
    }

    p.feedDate {
        color: green;
    }
}
